<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accord">
            <h2><span>Accord</span> {{ accord.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Partenaire</span></dt>
                <dd>
                    <span>{{ accord.partenaire }}</span>
                </dd>
                <dt><span>Domaine</span></dt>
                <dd>
                    <span>{{ accord.domaine }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ accord.description }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ accord.date }}</span>
                </dd>
                <dt><span>Dure</span></dt>
                <dd>
                    <span>{{ accord.dure }}</span>
                </dd>
                <dt><span>Zone</span></dt>
                <dd>
                    <span>{{ accord.zone }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ accord.type }}</span>
                </dd>
                <dt><span>Nature</span></dt>
                <dd>
                    <span>{{ accord.nature }}</span>
                </dd>
                <dt><span>Validation Dircoop</span></dt>
                <dd>
                    <span>{{ accord.validationDircoop }}</span>
                </dd>
                <dt><span>Validation Recteur</span></dt>
                <dd>
                    <span>{{ accord.validationRecteur }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/accord', accord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
