<div>
    <h2 id="page-heading">
        <span>Accords</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accord" [routerLink]="['/accord/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Accord
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="accords?.length === 0">
        <span>No accords found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="accords && accords.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Partenaire</span></th>
                    <th scope="col" ><span>Domaine</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Date</span></th>
                    <th scope="col" ><span>Dure</span></th>
                    <th scope="col" ><span>Zone</span></th>
                    <th scope="col" ><span>Type</span></th>
                    <th scope="col" ><span>Nature</span></th>
                    <th scope="col" ><span>Validation Dircoop</span></th>
                    <th scope="col" ><span>Validation Recteur</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let accord of accords ;trackBy: trackId">
                    <td><a [routerLink]="['/accord', accord.id, 'view']">{{ accord.id }}</a></td>
                    <td>{{ accord.partenaire }}</td>
                    <td>{{ accord.domaine }}</td>
                    <td>{{ accord.description }}</td>
                    <td>{{ accord.date | date:'medium' }}</td>
                    <td>{{ accord.dure }}</td>
                    <td>{{ accord.zone }}</td>
                    <td>{{ accord.type }}</td>
                    <td>{{ accord.nature }}</td>
                    <td>{{ accord.validationDircoop }}</td>
                    <td>{{ accord.validationRecteur }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/accord', accord.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/accord', accord.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(accord)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
