<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-accord-heading">Create or edit a Accord</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_partenaire">Partenaire</label>
                    <input type="text" class="form-control" name="partenaire" id="field_partenaire"
                           formControlName="partenaire"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_domaine">Domaine</label>
                    <input type="text" class="form-control" name="domaine" id="field_domaine"
                           formControlName="domaine"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dure">Dure</label>
                    <input type="text" class="form-control" name="dure" id="field_dure"
                           formControlName="dure"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_zone">Zone</label>
                    <input type="text" class="form-control" name="zone" id="field_zone"
                           formControlName="zone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nature">Nature</label>
                    <input type="text" class="form-control" name="nature" id="field_nature"
                           formControlName="nature"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_validationDircoop">Validation Dircoop</label>
                    <select class="form-control" name="validationDircoop" formControlName="validationDircoop" id="field_validationDircoop">
                        <option value="VALIDE">VALIDE</option>
                        <option value="INVALIDE">INVALIDE</option>
                        <option value="TRAITEMENT">TRAITEMENT</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_validationRecteur">Validation Recteur</label>
                    <select class="form-control" name="validationRecteur" formControlName="validationRecteur" id="field_validationRecteur">
                        <option value="VALIDE">VALIDE</option>
                        <option value="INVALIDE">INVALIDE</option>
                        <option value="TRAITEMENT">TRAITEMENT</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
